# show how many pages per view
RANGE_PER_PAGE=9

# show qty objects per page
OBJ_PER_PAGE=9
# django secret key
SECRET_KEY = 'A RANDOM KEY STRONGER WITH 64 CHARACTERS'

# 0 == FALSE, 1 == TRUE
DEBUG = 0

# NAME SITE
NAME_ENTERPRISE = 'name site'

# 0 == FALSE, 1 == TRUE (SELENIUM HEADLESS if False)
SHOW_SELENIUM_WINDOW=0