{% load i18n %}     {% comment %}  THIS SERVES TO TRANSLATE {% endcomment %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	{% include 'global/partials/head.html' %}
    <title>{% block 'title' %}   {% endblock 'title' %} | Farma TOP</title>
	
</head>
<body>
	{% include 'global/partials/side_menu.html' %}
	{% include 'global/partials/header.html' %}	
	{% include 'global/partials/messages.html' %}
	
	{% block 'content' %} 			{% endblock 'content' %}				
	{% include 'global/partials/pagination.html' %}

	{% include 'global/partials/footer.html' %}
	
</body>
</html>
