<!DOCTYPE html>
<html lang="pt-br">
<head>
	{% include 'partials/head.html' %}
    <title>{% block 'title' %}   {% endblock 'title' %} | Farma TOP</title>
</head>
<body>
	
	{% include 'partials/header.html' %}	
	
	{% if messages %}
		{% for message in messages %}	
			<div class="message {{ message.tags }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	
	{% block 'content' %}
	{% endblock 'content' %}			
	{% include 'partials/pagination.html' %}

	{% include 'partials/footer.html' %}
	
</body>
</html>
