<header>
	

	<a href="{% url 'farmacia:home' %}">
		<h1  class="titulo-container">
	    	FARMACIA
		</h1>
	</a>

	<form class="search-container" action=" {% url 'farmacia:search' %} " method="get">
			<input placeholder="Digite aqui sua busca" name="q" class="search-input" maxlength="10" type="search" required></input> <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
	</form>
	
		
		{% if request.user.is_authenticated %}
			<form action="{% url 'authors:logout' %}" method='POST'>
				{% csrf_token %}
				<button class="logged-user current" type='submit'>
					<div class="logged-user-show"> Usuario: {{ request.user.username }} </div>  
					<div class="logged-user-hide"> click para deslogar</div>
				</button>
			</form>
		{% endif %}
	
	<div class="loguin">
	{% if 'singin' %}
		<a class="loguin-element" href="{% url 'authors:register' %}"> <i class="fa-solid fa-pen-to-square"></i></a>
		<a class="loguin-element" href="{% url 'authors:login' %}"> <i class="fas fa-user"></i> </a>
	{% else %}
		<a class="loguin-element" href="{% url 'authors:register' %}"> <i class="fa-solid fa-right-to-bracket"></i> </a>
	{% endif %}
	</div>
</header>