
{% if pages.last_range > 1 %}
<nav aria-role="navigation" class="pagination">
	<form class="pagination-form" action="" method="get">
		<a aria-role="page 1" class="pagination-options" name="page" href="?q={{search_done}}&page=1">1</a>
		...
		{% for page in pages.pagination %}
			{% if pages.current_page == page %}
			
				<a aria-role="current-page page {{page}}" aria-current="true" class="pagination-options current" name="page" href="?{% if search_done %}q={{search_done}}&{% endif %}page={{page}}">{{page}}</a>

			{% else %}
				<a aria-role="page {{page}}" class="pagination-options " name="page" href="?{% if search_done %}q={{search_done}}&{% endif %}page={{page}}">{{page}}</a>

			{% endif %}
		{% endfor %}
		... 
		
		<a aria-role="last page" class="pagination-options" name="page" href="?q={{search_done}}&page={{pages.last_range}}">{{pages.last_range}}</a>
				
	</form>
</nav>
{% endif %}