{% if remedio.is_published %}
	{% if is_detail %}
		<div class="object-view-detail">
	{% else %}
		<div class="object-view">
	{% endif %}
	
	<a  href=" {{ remedio.get_absolute_url }} ">
	{% if remedio.cover.url != "" %}
		<img class="remedio-img" src= {{ remedio.cover.url }} >
	{% else %}
		<img class="remedio-img" src="/media/static/images/default.jpg" >
	{% endif %}
	</a>


	<p class="object-view-nome">  {{ remedio.title }}  </p>

		<p class="object-view-valor">  R$ {{ remedio.price|floatformat:2 }}  </p>
		
		<p>
			{% comment %} {{ remedio.description }} {% endcomment %}
			{% if remedio.author.first_name != None %}
			{% if remedio.author.first_name %} 
			Criado por: {{ remedio.author.first_name}} {{ remedio.author.last_name}} <br>
			{% else %}
			Criado por: {{ remedio.author.username}} <br>
			{% endif %}
			{% else %}
			Autor Desconhecido <br>
			{% endif %}
			
			Data de criação: {{ remedio.created_at|date:"d/m/Y" }} às {{ remedio.created_at|date:"H:i"}} <br>
			{% if remedio.category.id is not None %}
			<a href="{%  url 'farmacia:categoria' remedio.category.id %}">Tipo: {{remedio.category}} </a>
			{% endif %}
			
		</p>
		
		{% if not is_detail %}
		{% comment %} <a  class="object-view-button" href=" {% url 'farmacia:remedio' remedio.id %} "><span>Adicionar ao Carrinho</span></a> {% endcomment %}
		<div class="buttons-container">
			<a  class="object-car-button" href=" {{ remedio.get_absolute_url }} "><span>Adicionar ao Carrinho</span></a>
			<a  class="object-view-button" href=" {{ remedio.get_absolute_url }} "><span>Visualizar</span></a>
		</div>
		{% else %}
		<div class="descripition-detail">
			{{ remedio.description }}
		</div>
		{% endif %}
		
	</div>
{% endif %}