<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>THEORY</title>
</head>
<body>
<h1>THEORY</h1>
<h3>Observe que se não for envocado a variavel definida no backend o queryset não vai ler o banco</h3>
<h2>docs:</h2>
<a href="https://docs.djangoproject.com/pt-br/3.2/topics/db/queries/#complex-lookups-with-q-objects">https://docs.djangoproject.com/pt-br/3.2/topics/db/queries/#complex-lookups-with-q-objects</a>
<br><a href="https://docs.djangoproject.com/pt-br/4.0/ref/models/querysets/#field-lookups">https://docs.djangoproject.com/pt-br/4.0/ref/models/querysets/#field-lookups</a>
<br><a href="https://docs.djangoproject.com/pt-br/4.0/ref/models/querysets/#operators-that-return-new-querysets">https://docs.djangoproject.com/pt-br/4.0/ref/models/querysets/#operators-that-return-new-querysets</a>
<br>
"só fara querys pra sessão caso esteja logado"

<br> Num objects: {{ num_len }}
</body>
</html>
