:root{
            --color-primary: #35b5ff9a;            
            --color-primary-light: #ffffffde;
            --color-primary-dark: #1f1c13;
            --color-background: #c07d00;
			--color-background-secundary: #7c02a1;
			--color-background-transparent: #fdfdfd75;

            --font-primary:  Verdana, Arial;
            --font-size-search: 1.5em;
            --font-color: #e9e9e9;
            --font-color-secundary: rgb(83, 174, 248);

            --color-info-dark: #4d86c4;
            --color-debug-dark: #4d86c4;
            --color-success-dark: #4a9c5d;
            --color-alert-dark: #927f40;
            --color-warning-dark: #927f40;
            --color-error-dark: #e70303;

}

a{
	text-decoration: none;
	color: var(--font-color);
}
h1{
	font-size: 3rem;
	margin: 0 auto;
	text-align: center;
}
html {
  height: 100%;
}
body {
  	min-height: 100%;

	margin: 0px;
	/*background: var(--color-primary-dark);*/
	background: linear-gradient(90deg, var(--color-background) 10%, var(--color-background-secundary) 90%);
	/* flex: 1 0 auto; */
	font-family: var(--font-primary);

}
img {
	width: 100%;
	
}
/* Works on Firefox */
* {
	opacity: 5;
	scrollbar-width: thin;
	scrollbar-color: var(--color-background)  var(--color-background-secundary);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
	width: 12px;
	opacity: 5;

  }
  
  *::-webkit-scrollbar-track {
	background: var(--color-background);
	opacity: 5;

  }
  
  *::-webkit-scrollbar-thumb {
	background-color: var(--color-background-secundary);
	border-radius: 20px;
	border: 3px solid var(--color-background);
	opacity: 5;

  }

/* ### button */


.box {
	width: 140px;
	height: auto;
	float: left;
	transition: .5s linear;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 15px;
	text-align: center;
	margin: 0 5px;
	background: transparent;
	text-transform: uppercase;
	font-weight: 900;
  }
  
  .box:before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 4px;
	width: 100%;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	box-sizing: border-box;
	transform: translateX(100%);
  }
  
  .box:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	border-top: 4px solid transparent;
	border-right: 4px solid transparent;
	box-sizing: border-box;
	transform: translateX(-100%);
  }
  
  .box:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
	border-color: #262626;
	height: 100%;
	transform: translateX(0);
	transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
	border-color: #262626;
	height: 100%;
	transform: translateX(0);
	transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
	color: black;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	border: none;
	background: transparent;
  }
  .box {
  width: 200px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color: #33ff00;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
	border-color: #33ff00;

  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

button {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  grid-column: span 2;
  margin: 0px auto;
  
}
/* ### button */

.center{
	width: 1000px;
	text-align: center;
	margin: 0px auto;
}
.span-2 {
	grid-column: span 2;
}
input{
	width: 100%;
	margin: 0px;
}
/* ############################################################################ HEADER */
header{
	background: #d9ff8049;
	text-align: center;
	
}
/* CURRENT USER */
.scene {
	z-index: 100;
	width: 0em;
	position: absolute;
	top: 5%;
	margin-left: 1%;
	/* justify-content: center;
	align-items: center; */
   }
   
   .cube {
	position: fixed;

	color: #ccc;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
	transform-style: preserve-3d;
	transform-origin: 100% 50%;
	padding: 0em;

	border: 0em;
   }
   
   .cube:hover {
	transform: rotateX(-90deg);
   }
   
   .side {
	box-sizing: border-box;
	position: absolute;
	/* display: inline-block; */
	height: 4em;
	width: 11em;
	text-align: center;
	text-transform: uppercase;
	padding-top: 0.88em;
	font-weight: bold;
	align-items: center;
   }
   
   .top {
	background: wheat;
	color: #222229;
	transform: rotateX(90deg) translate3d(0, 0, 2em);
	box-shadow: inset 0 0 0 5px #fff;
   }
   
   .front {
	background: #222229;
	color: #fff;
	box-shadow: inset 0 0 0 5px #fff;
	transform: translate3d(0, 0, 2em);
   }
   /*  */
#mySidenav{
	top: 0px;	
	position: fixed;

}
#mySidenav a, 
#mySidenav button {
	position: absolute;
	left: -90px;
	transition: 0.3s;
	padding: 15px;
	width: 120px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	border-radius: 0 5px 5px 0;
  }
  #mySidenav button:hover,
  #mySidenav a:hover {
	left: 0;
	box-shadow: 0 0 20px 0px #2e2e2e3a;
  }
  
  #login {
	top: 120px;
	background-color: #04AA6D;
  }
  
  #register {
	top: 180px;
	background-color: #2196F3;
  }
  
  #dashboard {
	top: 240px;
	background-color: #f44336;
  }
  
  /* #logof {
	top: 300px;
	background-color: #555
  } */
  
  .btn {
	position: fixed;

	width: 150px;
	/* height: 50px; */
	border-radius: 5px;
	border: none;
	transition: all 0.5s ease-in-out;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;
	display: flex;
	align-items: center;
	background: #040f16;
	color: #f5f5f5;
  }
  
  .btn:hover {
	box-shadow: 0 0 20px 0px #2e2e2e3a;
  }
  
  .btn .text {
	position: absolute;
	height: 40px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
  }
  
  .btn .icon {
	transform: translateX(55px);
	margin-left: 46px;
  }
  
  .btn:hover .text {
	width: 135px;
  }
  
  .btn:hover .icon {
	transition: all 0.5s;
	opacity: 0;
  }
.side-bar-content-categorys{
	position: fixed;
	/* text-align: justify; */
	text-align: center;
	width: 260px;
	top: 0;
	left: -280px;
	bottom: 0;
	background: var(--color-background-secundary);
	padding: 0.8em;
	padding-bottom: 2em;
	/* height: 100vh; */
	z-index: 1;
	display: flex;
	/* flex-flow: column wrap; */
	transition: all 0.5s ease-in-out;
	padding-top: 300px;
	/* justify-content: center; */
	overflow-y: scroll;
	overflow-x: hidden;
	direction: rtl;
	flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
}
.side-bar-content-categorys a{
  padding-top: 0.5em;
  width: -moz-fit-content;
  width: fit-content;
  width: 100%;

  background-color: var(--color-background);
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  padding: 9px 15px;
  border: solid 1px black;
  /* height: 40px; */
}
.btn-cate{
	position: absolute;
	position: fixed;
    top: 50vh;
    transition: 0.3s;
    padding: 15px;
    width: 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
	background: var(--color-background-secundary);

}
.side-bar-content-categorys:hover,
.btn-cate:hover + .side-bar-content-categorys{
  left: 0;
  box-shadow: 0 0 20px 0px #2e2e2e3a;
	transition: all 0.5s ease-in-out;

}

/* ################# SEARCH */
.search-container{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	padding-left: 50px;
	display: flex;
	align-items: center;
	
}
.search-input{
	
	border-radius: 10px;
	width: 600px;
	height: var(--font-size-search);
	padding-left: 15px;
	padding-right: 44px;
	font-size: var(--font-size-search);
}
.search-button{
	width: var(--font-size-search);
	height: var(--font-size-search);
	font-size: var(--font-size-search);
	position: relative;
	right: 44px;
	background: none;
	color: #000;
	/* background: radial-gradient(circle, rgba(2,0,36,0.4430147058823529) 0%, rgba(0,0,0,0.38699229691876746) 26%, rgba(0,255,196,0) 61%); */
	border: none;
}

/* ###################################################################### MESSAGES */
.message{
	width: 30%;
	position: absolute;
	padding: 1rem;
	border-radius: 4px;
	border: 1px solid var(--color-primary-dark);
	background: var(--color-primary-light);
	color: var(--font-color);
	text-align: center;
	top: 15px;
    right: 15px;
}
.message-error {
	border: 1px solid var(--color-error-dark);
	background: var(--color-primary-light);
	color: var(--color-error-dark);
}
.message-success {
	border: 1px solid var(--color-success-dark);
	background: var(--color-primary-light);
	color: var(--color-success-dark);
}
/* ########################################################################## HOME */
.main-content-container{
	/* background: #d6c4212f; */
	width: 1000px;
	margin: 0px auto;
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
}
.content-container{
	background: #000000;
	/* width: 300px; */
}
.object-view{
	background: #db050527;
	width: 300px;
	margin: 0.3rem;
	padding: 0.3rem;
	text-align: center;
	border-radius: 5px;
	border: 1px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.object-view:hover{
	box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
	/*transition: all 300ms ease-in-out;*/
	transform: scale(1.02);
}
.buttons-container{
	width: 100%;
	display: flex;
}
.object-view-button{
	color: #000;
	background-color: #00000025;
	width: 40%;
	padding: 1.1em;
	margin: auto;
}
.object-car-button{
	
	color: #000;
	background-color: #ff000033;
	width: 60%;
	padding: 0.5em;

}
.object-view-detail{
	width: 700px;
	text-align: center;
	margin: 5px;
}
/* ################################################################### PAGINATION */
.pagination{
	align-items: center;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 10px;
}
.pagination-form{
	text-align: center;
	margin: 0 auto;
}
.pagination-options{
	background: radial-gradient(circle, rgba(2,0,36,0.4430147058823529) 0%, rgba(0,0,0,0.38699229691876746) 26%, rgba(0,255,196,0) 61%);
	color: white;
	width: 2.3em;
	height: 2.3em;
	border-radius: 3px;
	border: 1px solid black;
	padding: 0.6em;
}
.current{
	color: black;
	text-shadow: 2px 0 var(--color-primary-light), -2px 0 var(--color-primary-light), 0 2px var(--color-primary-light), 0 -2px var(--color-primary-light),
  1px 1px var(--color-primary-light), -1px -1px var(--color-primary-light), 1px -1px var(--color-primary-light), -1px 1px var(--color-primary-light);
	background: radial-gradient(circle, rgba(131, 133, 247, 0.443) 0%, rgba(255, 255, 255, 0.387) 26%, rgba(0,255,196,0) 61%);

}
/* ###################################################################### FOOTER */
footer{
	background: #ffab62;
/* width: 100%;
height: 100px;
position: absolute;
bottom: 0;
left: 0; */
}
/* ##################################################################### AUTHORS */
.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	padding: 40px;
	margin: 20px auto;
	transform: translate(-50%, -55%);
	background: rgba(0,0,0,.9);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
	border-radius: 10px;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-gap: 10px;
	align-items: center;
  }

/* #################################################################### FORMS */
.help-text{
	font-size: 0.1rem;
	margin: 0rem;
	color: #1f1c13;
}
.form-content{
	position: absolute;
	top: 500px;
	/* margin-top: 70%; */
	left: 50%;
	display: grid;
    flex-direction: row;
    flex-wrap: wrap;
	width: 1000px;
	padding: 40px;
	margin: 20px auto;
	transform: translate(-50%, -55%);
	background: rgba(0, 0, 0, 0.192);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
	border-radius: 10px;
	color: white;

	/* margin: 0px auto; */
	/* grid-template-columns: 1fr 1fr ; */
	justify-items: end;
    align-items: start;
	grid-template-areas: '. area2';
}
.form-content input,
.form-content select,
.form-content textarea,
.form-content div{
	font-size: 1.3em;
	width: 96%;
	margin: 0.5rem;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.edit-view{
	margin: 15% 0px;
	height: 100%;
}
/* DASHBOARD EDIT */
textarea{
	width: 950px;
}
.cover{
	text-align: center;
	width: 100%;
	background: linear-gradient(90deg, var(--color-background) 0%, var(--color-background-secundary) 100%);
	padding: 10px;
	margin: 15px 0px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;


}
.span-2{
	font-size: 2em;
}
#id_cover{
	position: relative;
    font-family: calibri;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px dashed #BBB;
    text-align: center;
    background-color: #DDD;
}
input[type=file]::file-selector-button {
	display: none;

}
.quantity{
	grid-area: area2;
}
.errors-content{
	width: 30rem;
}
/* ######################################################## DASHBOARD */
.dashboard-container-object-views{
	width: 1000px;
	margin: 0px auto;
	display: grid;
}
.dashboard-content ul{
	list-style: none;
	grid-column: span 2;
}

.li-delete{
	border-bottom: 1px solid var(--color-background-secundary);
	align-items: baseline;
	margin: 10px;
	width: 90%;
}
.form-delete{
	width: 1em;
	height: 1em;
	font-size: 1em;
	float: right;
}