:root{
            --color-primary: #35b5ff9a;            
            --color-primary-light: #ffffffde;
            --color-primary-dark: #1f1c13;
            --color-background: #c07d00;
			--color-background-secundary: #7c02a1;
			--color-background-transparent: #fdfdfd75;

            --font-primary:  Verdana, Arial;
            --font-size-search: 1.5em;
            --font-color: #333;

            --color-info-dark: #4d86c4;
            --color-debug-dark: #4d86c4;
            --color-success-dark: #4a9c5d;
            --color-alert-dark: #927f40;
            --color-warning-dark: #927f40;
            --color-error-dark: #e70303;

}


html {
  height: 100%;
}
body {
  	min-height: 100%;

	margin: 0px;
	/*background: var(--color-primary-dark);*/
	background: linear-gradient(90deg, var(--color-background) 10%, var(--color-background-secundary) 90%);
	flex: 1 0 auto;
	font-family: var(--font-primary);

}
img {
	width: 100%;
}
.center{
	width: 1000px;
	text-align: center;
	margin: 0px auto;
}
.span-2 {
	grid-column: span 2;
  }
/* ##################################################################### HEADER */
a{
	text-decoration: none;
	color: var(--font-color);
}
header{
	z-index: 10;
	position: sticky;
	position: -webkit-sticky; 
	top: 0;
	width: 100%;
	height: 150px;
	background: linear-gradient(90deg, var(--color-background) 0%, var(--color-background-secundary) 100%);
	/*display: flex;*/
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;


}
.loguin{
	width: 20%;
	margin: 4px;
	position: fixed;
	left: 0px;
	top: 0px;
}
.loguin-element{
	color: var(--color-primary-light);
	
	display: flex;
	align-items: baseline;
	float: left;
	font-size: 2em;
	/* background: var(--color-background-secundary); */
	padding: 0.5em;
	/* border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px; */
	margin: 4px;
	
	background-image: linear-gradient(135deg, var(--color-background), var(--color-background-secundary));
	border-radius: 6px;
	box-sizing: border-box;
}
.logged-user{
	/* display: flex; */
	width: 100%;
	/* align-self: flex-end; */
	/* padding: 0.8em; */
	font-size: 1em;
	background: linear-gradient(to right, var(--color-background-secundary) 0%, rgba(0, 0, 0, 0) 100%);
	border: none;
	/* padding: 20px 40px; */
	font-size: 16px;
	font-weight: bold;
	color: white;
	
}
.logged-user-show{
	padding: 1em;
	align-self: flex-start;
	width: 100%;

}
.logged-user-hide {
	display: none;
	margin-left: 5px;
	padding: 1em;
	width: 100%;

  }

.logged-user-show:hover + .logged-user-hide {
    display: block;
	/* background: linear-gradient(to right, #72afd3 0%, #37ecba 100%); */
	
}

.titulo-container{
	margin: 0px auto;
	text-align: center;
	width: 100%;
	font-size: 3em;
	text-shadow: 2px 0 var(--color-primary-light), -2px 0 var(--color-primary-light), 0 2px var(--color-primary-light), 0 -2px var(--color-primary-light),
             1px 1px var(--color-primary-light), -1px -1px var(--color-primary-light), 1px -1px var(--color-primary-light), -1px 1px var(--color-primary-light);

}

.search-container{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	padding-left: 50px;
	display: flex;
	align-items: center;
	
}
.search-input{
	
	border-radius: 10px;
	width: 600px;
	height: var(--font-size-search);
	padding-left: 15px;
	padding-right: 44px;
	font-size: var(--font-size-search);
}
.search-button{
	width: var(--font-size-search);
	height: var(--font-size-search);
	font-size: var(--font-size-search);
	position: relative;
	right: 44px;
	background: radial-gradient(circle, rgba(2,0,36,0.4430147058823529) 0%, rgba(0,0,0,0.38699229691876746) 26%, rgba(0,255,196,0) 61%);
	border: none;
}

/* ###################################################################### MESSAGES */
.message{
	padding: 1 rem;
	border-radius: 4px;
	border: 1px solid var(--color-primary-dark);
	background: var(--color-primary-light);
	color: var(--font-color);
	text-align: center;
}
.message-error {
	border: 1px solid var(--color-error-dark);
	background: var(--color-primary-light);
	color: var(--color-error-dark);
}
.message-success {
	border: 1px solid var(--color-success-dark);
	background: var(--color-primary-light);
	color: var(--color-success-dark);
}
/* ##################################################################################################################### HOME */
.main-content-container{
	/*align-items: center;*/
	display: grid;
  	grid-template-columns: auto auto auto;
    min-height: 542px;
	padding: 0.5%;
	margin: auto auto;
	width: 900px;
	/*background: var(--color-primary-light);*/
	justify-content: center;
	justify-items: stretch;
}
.content-label{
	margin-right: 10px;
}
.object-view{
	
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

	width: 300px;
	margin: 5px;
	background: var(--color-primary-light);
	text-align: center;
	display: flex;
	flex-direction: column;
}
.object-view-detail{
	width: 500px;
	text-align: center;
	background: var(--color-primary-light);
	margin: 20px;

}
.object-view:hover{
	box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
	/*transition: all 300ms ease-in-out;*/
	transform: scale(1.02);
}
.object-view-img{

	background: white;
	width: 100%;
	height: 200px;
}
.object-view-nome{
	align-self: center;
	margin-top: 0px;
	float: left;
	padding: 5px;
	height: 100px;
	width: 300px;
	font-size: 2em;
	letter-spacing: 1px;
	justify-content: flex-end;
}
.object-view-valor{
	font-size: 1.5em;
	margin: 0px;
	height: 100px;

}
/* ###################################################################### PAGINATION */
.pagination{
	align-items: center;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 10px;
}
.pagination-form{
	text-align: center;
	margin: 0 auto;
}
.pagination-options{
	background: radial-gradient(circle, rgba(2,0,36,0.4430147058823529) 0%, rgba(0,0,0,0.38699229691876746) 26%, rgba(0,255,196,0) 61%);
	color: white;
	width: 2.3em;
	height: 2.3em;
	border-radius: 3px;
	border: 1px solid black;
	padding: 0.6em;
}
.current{
	color: black;
	text-shadow: 2px 0 var(--color-primary-light), -2px 0 var(--color-primary-light), 0 2px var(--color-primary-light), 0 -2px var(--color-primary-light),
  1px 1px var(--color-primary-light), -1px -1px var(--color-primary-light), 1px -1px var(--color-primary-light), -1px 1px var(--color-primary-light);
	background: radial-gradient(circle, rgba(131, 133, 247, 0.443) 0%, rgba(255, 255, 255, 0.387) 26%, rgba(0,255,196,0) 61%);

}
/* ###################################################################### FOOTER */
.footer-container{
	margin-top: auto;
	width: 100%;
	height: 200px;
	background: linear-gradient(90deg, var(--color-background) 0%, var(--color-background-secundary) 100%);
	position: sticky;
	position: -webkit-sticky;

}
.object-view-button {
		background: black;
		color: white;
}



/* ###################################################################################################################### AUTHORS */

.form-content{
	width: 900px;
	margin: 0px auto;
	padding: 2em;
	background: var(--color-background-transparent);
	display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
	gap: 2em;
}
.form-content select,
.form-content textarea,
.form-content button,
.form-content input{
	width: 95%;
	padding: 0.5em;
	font-size: 1.3em;
	align-self: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.form-content textarea{
	width: 100%;
}

.form-content{
	margin: 0.3em 0.5em ;
	
}
.help-text,
.errorlist{

	font-size: 0.7em;
	color: var(--color-error-dark);
	margin-top: 0px;

}
.help-text{
	color: var(--color-primary-dark);
	
}
.form-content button{
	background-color: #4a9c5d;
	width: 200px;
	padding: 15px;
	font-size: 1.5em;
	margin: 0;
	background: linear-gradient(90deg, var(--color-background) 0%, var(--color-background-secundary) 100%);
	text-shadow: 0.2px 0 var(--color-primary-light), -0.2px 0 var(--color-primary-light), 0 0.2px var(--color-primary-light), 0 -0.2px var(--color-primary-light),
	1px 1px var(--color-primary-light), -1px -1px var(--color-primary-light), 1px -1px var(--color-primary-light), -1px 1px var(--color-primary-light);
  
}
.login-container{
	height: auto;
	margin: auto;
}
.login-container .form-content{
	width: 500px;
}
/* ###################################################################################################################### DASHBOARD */
.dashboard-content{
	width: 1000px;
	margin: 0px auto;
	text-align: center;
	color: white;

}

.dashboard-container-object-views ul{
	list-style: none;
	text-align: left;
}
.dashboard-container-object-views li{
	margin: 0.6rem;
}
.dashboard-container-object-views a{
	color: white;
}
/* DASHBOARD EDIT */
.price{
	width: 10rem;
}
.quantity{
	margin-right: 0.0rem;
}
.cover{
	text-align: center;
	width: 100%;
	background: linear-gradient(90deg, var(--color-background) 0%, var(--color-background-secundary) 100%);
	padding: 10px;
	margin: 15px 0px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;


}
#id_cover{
		position: relative;
    font-family: calibri;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px dashed #BBB;
    text-align: center;
    background-color: #DDD;
}
input[type=file]::file-selector-button {
	display: none;

}
  