{% extends 'global/base.html' %}

{% block 'title' %}Login{% endblock 'title' %}
{% block 'content' %}

    {% if not user.is_authenticated %}
    {% comment %} <div class="login-box"> {% endcomment %}
        {% include 'global/partials/form.html' %}
        {% comment %} <p>Sem uma conta ainda? <a href=" {% url 'authors:register' %} " class="a2">Cadastre-se!</a></p> {% endcomment %}
    {% comment %} </div> {% endcomment %}
    {% else %}
    <div class="center"><h1>Você já esta logado como {{ user }} se deseja trocar de usuario faça logout primeiro.</h1></div>
    {% endif %}

{% endblock 'content' %}
